services:
  amneziawg:
    image: amneziavpn/amneziawg-go:0.2.15
    container_name: amneziawg
    env_file:
      - .env
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - ${WG_PORT}:${WG_PORT}/udp
    volumes:
      - amneziawg_data:/etc/amneziawg
      - amneziawg_logs:/var/log/amneziawg
      - ./entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/entrypoint.sh"]
    restart: always
    networks:
      awg:

networks:
   awg:

volumes:
  amneziawg_data:
  amneziawg_logs:
