services:
  awg:
    image: ghcr.io/illmouse/amneziawg-go:latest
    container_name: amneziawg
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    env_file:
      - .env
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - ${WG_PORT}:${WG_PORT}/udp
      # - ${PROXY_HTTP_PORT}:${PROXY_HTTP_PORT}/tcp
      # - ${PROXY_SOCKS5_PORT}:${PROXY_SOCKS5_PORT}/tcp
    volumes:
      - ./config:/etc/amneziawg
      - ./logs:/var/log/amneziawg
      - ./logs/3proxy:/var/log/3proxy
      # - ./config/3proxy.cfg:/etc/3proxy/3proxy.cfg
    restart: always
    networks:
      awg:

networks:
   awg:
